.App {
  text-align: center;
  
}


.outer{
  margin: auto;
  border: 4px solid black;
  width: 35%;
  height: 700px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color:slategrey;
}
.head{
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     font-size:40px;
}
.inpt1{
   
    width: 70%;
    height: 30px;
    padding-top: 10px;
    border-radius: 20px;
    font-size:20px;
}
.btn{
   margin-left: 6px;
   padding-top:1px;
   font-size: 32px;
   border-radius:40%;
   background-color: greenyellow;
   
}
.list{
   width:80%;
   height: 30px;
   margin:auto;
   color:wheat;
   border-bottom: 7px solid black;
   border-radius: 50px;
   background-color:darkslategrey;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.foot{
  display:flex;
  justify-content:space-around;
}
.checkbox{
  margin-top:12px;

}